@font-face {
    font-family: 'batman'; /* Choose a name to reference the font */
    src: url('batman.ttf') /* Path to your font file */
  }
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
background-image: url("loginpage.jpg");
background-repeat: no-repeat;
background-size: cover;

}
.rectangle {
    display: flex;
    width: 700px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    opacity: 80%;
}
input{
    width:500px;
    height: 30px;
    border-color: #e900fe;
    border-radius: 8px;
}
form{
    height: 54vh;
    width: 100vw;
    font-size:25px;
    padding-left: 100px;
    border: 6px solid rgb(255, 0, 179);
    border-radius: 50px;
}
h1{
    font-family: 'batman';
    color: navy;
    padding-left: 120px;
}

/* .emailbox{
    align-content: center;
    padding-top: 100px;
    height: 50%;
    padding-right: 200px;
}
.login{
    width: 100%;
    height: 20%;
    text-align: center;
    font-family: 'batman';
    color:#e900fe
} */